
<div class="alert alert-danger" role="alert" *ngIf="validationFailed">
  <h4 class="alert-heading">Form Errors Found!</h4>
  <p>Following errors found during form Validation</p>
  <hr>
  <p [innerHTML] = "medicalErrors"></p>
</div>
<app-patient-details [saveData] = "saveData" (emitDataToSave) = savecurrentData($event) (patientBillErrors)="patientDetailErrors($event)"></app-patient-details>
<app-billing-details [saveBillData] = "saveBillData" (emitDataToSave) = savecurrentBillData($event) (medicalBillErrors)="billErrorList($event)"></app-billing-details>

<div class="row">
  <div class="col-4"></div>
  <div class="col-1"><p-button label="Add" (onClick)="saveMedicalData($event)"></p-button></div>
  <div class="col-4"></div>
</div>

<!-- <p-dialog [styleClass]="dialog" [modal]="true" [(visible)]="validationFailed" [width]="1000">
  <p-header>
        <i class="fa fa-warning" style="font-size:48px;color:red"></i>
        Validation Failed
  </p-header>
  <span [innerHTML] = "medicalErrors"></span>
  <p-footer>
     
  </p-footer>
</p-dialog> -->


