<div class="container">
  
  <span>Previous Transactions:</span>
    <table class="table table-bordered">
      <thead class="table-primary">
          <tr>
            <th>sno</th>
            <th>Date</th>
            <th>Paid Amount</th>
            <th>Payment Mode</th>
          
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of transactions">
          <td>{{ bill.id }}</td>
          <td>{{ bill.paymentDate }}</td>
          <td>{{ bill.amount }}</td>
          <td>{{ bill.paymentMode }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>